$primary-bg:#F6F6F6;
$text-color:#222222;
$primary-color:#FF3131;       
$secondery-color:#ffbb33;
$tertiary-color: #1e868b;
$white:#fff;
$radious-color: #FF3158;




$primary-font: 'Quicksand', sans-serif;