@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0; }

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a,
a:hover,
a:focus {
  text-decoration: none; }

a,
button {
  cursor: pointer;
  transition: .3s ease; }
  a:focus,
  button:focus {
    outline: 0; }

section {
  margin-bottom: 120px; }

@media (max-width: 575.98px) {
  section {
    margin-bottom: 60px; } }
@media (min-width: 576px) and (max-width: 768px) {
  section {
    margin-bottom: 100px; } }
.bottom-shape {
  transform: rotate(180deg) translateY(10px);
  fill: #F6F6F6; }

.top-shape {
  transform: translateY(0px);
  fill: #F6F6F6; }

body {
  line-height: 24px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  color: #222222; }

p,
.paragraph {
  font-weight: 400;
  font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
.h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; }

h2,
.h2 {
  font-size: 36px;
  line-height: 46px; }

@media (max-width: 575.98px) {
  h2,
  .h2 {
    font-size: 22px;
    line-height: 36px; } }
@media (min-width: 576px) and (max-width: 768px) {
  h2,
  .h2 {
    font-size: 26px;
    line-height: 36px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  h2,
  .h2 {
    font-size: 28px;
    line-height: 36px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  h2,
  .h2 {
    font-size: 30px; } }
h3,
.h3 {
  font-size: 32px;
  line-height: 36px; }

h4,
.h4 {
  font-size: 20px;
  font-weight: 700; }

h5,
.h5 {
  font-size: 18px;
  font-weight: 700; }

h6,
.h6 {
  font-size: 16px;
  font-weight: 600; }

.fixd-manu ul li a {
  margin: 10px 20px !important; }

.navigation {
  background: #F6F6F6;
  position: fixed;
  width: 100%;
  z-index: 9999; }
  .navigation .nav-link {
    padding-right: 0rem !important;
    padding-left: 0rem !important; }
  .navigation ul li a {
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    margin: 20px 20px;
    color: #222222 !important;
    transition: .4s; }
    .navigation ul li a:hover {
      color: #FF3131 !important; }
  .navigation .btn {
    line-height: 0; }
  .navigation form button {
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
    color: #222222 !important;
    font-weight: 600;
    font-size: 15px; }
  .navigation .log-in i {
    margin-left: 6px;
    font-size: 14px;
    color: #FF3131; }
  .navigation .sign-up {
    border: 1px solid #FF3131;
    transition: .4s; }
    .navigation .sign-up:hover {
      background: #FF3131;
      color: #fff !important; }
  .navigation .btn-check:focus + .btn,
  .navigation .btn:focus {
    outline: 0;
    box-shadow: none; }

@media (max-width: 575.98px) {
  .navigation {
    text-align: center;
    padding: 20px; }
    .navigation ul li a {
      margin-bottom: 0;
      padding-bottom: 0; }

  .navbar-toggler {
    padding: .60rem .75rem;
    border: 1px solid #F6F6F6;
    box-shadow: none !important;
    background: #fff;
    border-radius: 0 !important; }

  form {
    justify-content: center;
    align-items: center; } }
@media (min-width: 576px) and (max-width: 768px) {
  .navigation {
    text-align: center;
    padding: 20px; }
    .navigation ul li a {
      margin-bottom: 0;
      padding-bottom: 0; }

  .navbar-toggler {
    padding: .60rem .75rem;
    border: 1px solid #F6F6F6;
    box-shadow: none !important;
    background: #fff;
    border-radius: 0 !important; }

  form {
    justify-content: center;
    align-items: center; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .navbar {
    text-align: center;
    padding: 20px; }
    .navbar ul li a {
      margin-bottom: 0;
      padding-bottom: 0; }

  .navbar-toggler {
    padding: .60rem .75rem;
    border: 1px solid #F6F6F6;
    box-shadow: none !important;
    background: #fff;
    border-radius: 0 !important;
    font-size: 26px; }

  form {
    justify-content: center;
    align-items: center; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar form button {
    padding: 10px 24px; }

  .navigation ul li a {
    margin: 20px 10px; } }
.about-headding {
  background-color: #F6F6F6;
  padding-top: 137px;
  padding-bottom: 20px;
  text-align: center !important;
  margin-bottom: 0 !important; }

.breadcrumb .breadcrumb-item {
  font-weight: 700; }
  .breadcrumb .breadcrumb-item a {
    color: #222222;
    font-size: 16px; }
.breadcrumb .active {
  color: #FF3131; }

@media (max-width: 575.98px) {
  .about-headding {
    padding-top: 110px; } }
.Our-mission {
  margin-bottom: 40px !important;
  padding-top: 80px; }

.mission-paragraph {
  position: relative; }
  .mission-paragraph::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 430px;
    height: 1px;
    background: #F6F6F6; }

.list li {
  margin-bottom: 15px; }
  .list li i {
    color: #FF3131;
    margin-right: 10px; }

.mission-img {
  background: #F6F6F6;
  position: relative;
  z-index: 100;
  border-radius: 5px; }
  .mission-img .img {
    margin-left: -40px;
    margin-top: -40px;
    padding-bottom: 40px; }
  .mission-img .primary-radious {
    position: absolute;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background: #ffbb33;
    opacity: 0.5;
    left: -70px;
    top: -70px;
    z-index: -1; }
  .mission-img .secondery-radious {
    position: absolute;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background: #FF3131;
    opacity: 0.5;
    right: 0px;
    top: 50%;
    transform: translateY(-50%); }
  .mission-img .tertiary-radious {
    position: absolute;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #1e868b;
    opacity: 0.5;
    left: -85px;
    bottom: 0px; }

@media (max-width: 575.98px) {
  .mission-paragraph::after {
    width: 100%; }

  .mission-img .img {
    margin-left: -10px;
    margin-top: -10px;
    padding-bottom: 10px; }
  .mission-img .primary-radious {
    width: 35px;
    height: 35px;
    left: -10px;
    top: -25px;
    z-index: 0; }
  .mission-img .secondery-radious {
    width: 40px;
    height: 40px; }
  .mission-img .tertiary-radious {
    width: 50px;
    height: 50px;
    left: -10px;
    bottom: -10px; } }
@media (min-width: 576px) and (max-width: 768px) {
  .mission-paragraph::after {
    width: 100%; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .mission-paragraph::after {
    width: 100%; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .mission-paragraph::after {
    width: 366px; }

  .list li {
    font-size: 14px; } }
@media (min-width: 1400px) {
  .mission-paragraph {
    padding-right: 86px; } }
.counterup {
  margin-top: 80px; }

.shadow {
  padding: 30px 25px !important;
  box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.05) !important;
  border-radius: 6px; }

.counter-item {
  border-right: 1px solid #F6F6F6; }
  .counter-item h6 {
    color: #FF3131; }
  .counter-item:last-child {
    border: none; }
  .counter-item:nth-child(2) h6 {
    color: #ffbb33; }
  .counter-item:nth-child(3) h6 {
    color: #1e868b; }

@media (max-width: 575.98px) {
  .counter-item {
    border-right: none; } }
@media (min-width: 576px) and (max-width: 768px) {
  .counter-item:nth-child(2) {
    border-right: none; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .counter-item:nth-child(2) {
    border-right: none; } }
.what-are {
  background-color: #F6F6F6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 0 !important; }
  .what-are .primary-radious-small {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffbb33;
    opacity: 0.5;
    left: -100px;
    top: 100px;
    z-index: -1; }
  .what-are .tertiary-radious-small {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #1e868b;
    opacity: 0.5;
    left: -100px;
    bottom: 100px; }

.what-are-img {
  background-color: #E0E0E0;
  position: relative;
  z-index: 100;
  border-radius: 5px; }
  .what-are-img .img {
    margin-left: 40px;
    margin-top: -40px;
    padding-bottom: 40px; }
  .what-are-img .primary-radious {
    position: absolute;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background: #ffbb33;
    opacity: 0.5;
    right: -70px;
    top: -70px;
    z-index: -1; }
  .what-are-img .secondery-radious {
    position: absolute;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background: #FF3131;
    opacity: 0.5;
    left: 0px;
    top: 50%;
    transform: translateY(-50%); }
  .what-are-img .tertiary-radious {
    position: absolute;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #1e868b;
    opacity: 0.5;
    right: -80px;
    bottom: 10px; }

.what-are-text {
  position: relative; }
  .what-are-text .primary-radious {
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #FF3131;
    opacity: 0.5;
    right: -90px;
    top: -100px; }
  .what-are-text .secondery-radious {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #ffbb33;
    opacity: 0.5;
    right: -120px;
    top: 50%;
    transform: translateY(-50%); }
  .what-are-text .tertiary-radious {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #1e868b;
    opacity: 0.5;
    right: 100px;
    bottom: -80px; }

@media (max-width: 575.98px) {
  .what-are-img {
    position: relative;
    z-index: 100; }
    .what-are-img .img {
      margin-left: 10px;
      margin-top: -10px;
      padding-bottom: 10px; }
    .what-are-img .primary-radious {
      right: 0;
      top: -40px; }
    .what-are-img .secondery-radious {
      width: 60px;
      height: 60px; }
    .what-are-img .tertiary-radious {
      width: 70px;
      height: 70px;
      right: -9px;
      bottom: -25px; }

  .what-are-text {
    position: relative; }
    .what-are-text .primary-radious {
      right: 0;
      top: 30px; }
    .what-are-text .secondery-radious {
      right: 0;
      top: 69%; }
    .what-are-text .tertiary-radious {
      bottom: 0px; } }
@media (min-width: 576px) and (max-width: 768px) {
  .what-are-img {
    position: relative;
    z-index: 100; }
    .what-are-img .img {
      margin-left: 30px;
      margin-top: -30px;
      padding-bottom: 30px; }
    .what-are-img .primary-radious {
      right: 0;
      top: -40px; }
    .what-are-img .secondery-radious {
      width: 60px;
      height: 60px; }
    .what-are-img .tertiary-radious {
      width: 70px;
      height: 70px;
      right: -9px;
      bottom: -25px; }

  .what-are-text {
    position: relative; }
    .what-are-text .primary-radious {
      right: 0;
      top: 30px; }
    .what-are-text .secondery-radious {
      right: 0;
      top: 69%; }
    .what-are-text .tertiary-radious {
      right: 150px;
      bottom: -50px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .what-are-img {
    position: relative;
    z-index: 100; }
    .what-are-img .img {
      margin-left: 10px;
      margin-top: -10px;
      padding-bottom: 10px; }
    .what-are-img .primary-radious {
      right: -40px;
      top: -40px; }
    .what-are-img .secondery-radious {
      width: 60px;
      height: 60px; }
    .what-are-img .tertiary-radious {
      width: 70px;
      height: 70px;
      right: -9px;
      bottom: -25px; }

  .what-are-text {
    position: relative; }
    .what-are-text .primary-radious {
      right: 0;
      top: 30px; }
    .what-are-text .secondery-radious {
      right: 0;
      top: 69%; }
    .what-are-text .tertiary-radious {
      right: 150px;
      bottom: -50px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .what-are-img {
    position: relative;
    z-index: 100; }
    .what-are-img .img {
      margin-left: 30px;
      margin-top: -30px;
      padding-bottom: 30px; }
    .what-are-img .primary-radious {
      right: 0;
      top: -40px; }
    .what-are-img .secondery-radious {
      width: 60px;
      height: 60px; }
    .what-are-img .tertiary-radious {
      width: 70px;
      height: 70px;
      right: -9px;
      bottom: -25px; }

  .what-are-text {
    position: relative; }
    .what-are-text .primary-radious {
      right: 0;
      top: 30px; }
    .what-are-text .secondery-radious {
      right: 0;
      top: 69%; } }
@media (min-width: 1400px) {
  .what-are-img {
    background-color: #E0E0E0;
    position: relative;
    z-index: 100;
    margin-right: 40px; }
    .what-are-img .primary-radious {
      right: -30px; }
    .what-are-img .tertiary-radious {
      right: -50px; } }
.average-yearly {
  margin-top: 80px; }
  .average-yearly .average-paragraph {
    position: relative; }
    .average-yearly .average-paragraph::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 405px;
      height: 1px;
      background: #F6F6F6; }
  .average-yearly .counter-item {
    border-right: none; }
    .average-yearly .counter-item .h3 {
      color: #ffbb33; }
    .average-yearly .counter-item:nth-child(2) .h3 {
      color: #FF3131; }
    .average-yearly .counter-item:last-child .h3 {
      color: #1e868b; }
  .average-yearly .average-yearly-item {
    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px; }
  .average-yearly .svg-icon {
    margin-bottom: 20px; }

@media (max-width: 575.98px) {
  .average-yearly {
    text-align: center; }
    .average-yearly .average-paragraph::after {
      display: none; }
    .average-yearly .svg-icon {
      margin-bottom: 10px;
      width: 25px;
      height: 25px; } }
@media (min-width: 576px) and (max-width: 768px) {
  .average-yearly {
    text-align: center; }
    .average-yearly .average-paragraph::after {
      width: 100%; }
    .average-yearly .svg-icon {
      margin-bottom: 10px;
      width: 35px;
      height: 35px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .average-yearly .average-paragraph::after {
    width: 340px; }
  .average-yearly .svg-icon {
    margin-bottom: 15px;
    width: 40px;
    height: 50px; }
  .average-yearly .average-yearly-item {
    padding-top: 25px;
    padding-bottom: 25px; } }
@media (min-width: 1400px) {
  .average-yearly .average-paragraph {
    position: relative;
    padding-right: 51px; } }
.gosaas {
  background-color: #F6F6F6;
  padding-bottom: 80px;
  margin-bottom: 0 !important; }
  .gosaas .card {
    border: none; }
  .gosaas .gosass-img {
    position: relative; }
    .gosaas .gosass-img .primary-radious {
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #ffbb33;
      opacity: 0.5;
      left: -90px;
      top: -30px; }
    .gosaas .gosass-img .secondery-radious {
      position: absolute;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background: #1e868b;
      opacity: 0.5;
      left: -115px;
      bottom: 0px; }
    .gosaas .gosass-img .card-img-overly {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 16px; }
      .gosaas .gosass-img .card-img-overly .rounded {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90px;
        height: 90px;
        border-radius: 50% !important;
        background-color: rgba(255, 0, 0, 0.37);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; }
        .gosaas .gosass-img .card-img-overly .rounded:hover {
          animation: pulse 2s infinite; }
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.37); }
  70% {
    box-shadow: 0 0 0 15px rgba(3, 168, 124, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(3, 168, 124, 0); } }
      .gosaas .gosass-img .card-img-overly i {
        position: relative;
        font-size: 26px;
        color: #fff;
        height: 75px;
        width: 75px;
        line-height: 75px;
        text-align: center;
        border-radius: 50%;
        background-color: #FF3158;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08); }
  .gosaas img {
    border-radius: 5px; }
  .gosaas .gosass-text {
    position: relative; }
    .gosaas .gosass-text .primary-radious {
      position: absolute;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background: #FF3131;
      opacity: 0.5;
      right: -40px;
      top: -30px; }
    .gosaas .gosass-text .secondery-radious {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #ffbb33;
      opacity: 0.5;
      right: -55px;
      bottom: 0px; }
    .gosaas .gosass-text h2 {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 22px; }
      .gosaas .gosass-text h2::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 450px;
        height: 1px;
        background-color: #E0E0E0; }
    .gosaas .gosass-text ul li {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid #E0E0E0; }
      .gosaas .gosass-text ul li:last-child {
        border: none; }

@media (max-width: 575.98px) {
  .gosaas .gosass-img .primary-radious {
    left: 0; }

  .gosaas .gosass-img .secondery-radious {
    left: 0; }

  .gosaas .gosass-text .primary-radious {
    right: 0; }

  .gosaas .gosass-text .secondery-radious {
    right: 0; }

  .gosass-text {
    text-align: center; }
    .gosass-text h2::after {
      display: none; } }
@media (min-width: 576px) and (max-width: 768px) {
  .gosaas .gosass-img .primary-radious {
    left: 0; }

  .gosaas .gosass-img .secondery-radious {
    left: 0; }

  .gosaas .gosass-text .primary-radious {
    right: 0; }

  .gosaas .gosass-text .secondery-radious {
    right: 0; }

  .gosass-text {
    text-align: center; }

  .gosaas .gosass-text h2::after {
    width: 100%; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .gosaas .gosass-img .primary-radious {
    left: 0; }

  .gosaas .gosass-img .secondery-radious {
    left: -30px;
    bottom: -25px; }

  .gosaas .gosass-text .primary-radious {
    right: 0; }

  .gosaas .gosass-text .secondery-radious {
    right: 0; }

  .gosass-text h2 {
    font-size: 22px;
    padding-bottom: 10px;
    margin-bottom: 10px; }

  .gosaas .gosass-text h2::after {
    width: 330px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .gosaas .gosass-img .primary-radious {
    left: 0; }

  .gosaas .gosass-img .secondery-radious {
    left: 0px;
    bottom: 0px; }

  .gosaas .gosass-text .primary-radious {
    right: -20px; }

  .gosaas .gosass-text .secondery-radious {
    right: 30px; }

  .gosaas .gosass-text h2::after {
    width: 380px; } }
@media (min-width: 1400px) {
  .gosaas .gosass-img .primary-radious {
    left: 0; }

  .gosaas .gosass-img .secondery-radious {
    left: -50px;
    bottom: -45px; }

  .gosaas .gosass-text .primary-radious {
    right: 70px; }

  .gosaas .gosass-text .secondery-radious {
    right: 30px; }

  .gosass-text h2 {
    padding-right: 85px; } }
.ctl {
  background-color: #F6F6F6;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0 !important; }
  .ctl .btn-danger {
    color: #fff;
    background-color: #FF3158 !important;
    border-color: #FF3158 !important;
    font-size: 15px !important;
    padding-top: 17px !important;
    padding-bottom: 16px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    transition: .4s; }
    .ctl .btn-danger:hover {
      background-color: #fff !important;
      color: #222222 !important; }

.ctl {
  position: relative; }
  .ctl .primary-radious {
    position: absolute;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #FF3131;
    opacity: 0.5;
    left: 0px;
    top: 0px; }
  .ctl .secondery-radious {
    position: absolute;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background: #1e868b;
    opacity: 0.5;
    left: 20%;
    top: 50%;
    transform: translateY(50%); }
  .ctl .tertiary-radious {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #1e868b;
    opacity: 0.5;
    right: 0px;
    top: 0px; }
  .ctl .quaternary-radious {
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #ffbb33;
    opacity: 0.5;
    right: 20%;
    top: 50%;
    transform: translateY(50%); }

@media (max-width: 575.98px) {
  .ctl .secondery-radious {
    left: 2%; }

  .ctl .quaternary-radious {
    right: 2%; } }
footer {
  background: #F6F6F6;
  position: relative; }
  footer .primary-radious {
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #ffbb33;
    opacity: 0.5;
    left: 0%;
    top: 30%;
    transform: translateY(50%); }
  footer .secondery-radious {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #FF3131;
    opacity: 0.5;
    right: 0%;
    top: 30%;
    transform: translateY(50%); }
  footer .footer-logo {
    transform: translateY(-10px); }
  footer .list-unstyled li a {
    display: block;
    color: #222222;
    margin-bottom: 10px; }
    footer .list-unstyled li a:hover {
      color: #FF3131;
      margin-left: 2px; }
  footer form input {
    background-color: #EAEAEA;
    padding: 14px 0px 14px 20px;
    border-radius: 5px;
    width: 100%;
    border: none;
    font-weight: 600; }
    footer form input:focus-visible {
      outline: none !important;
      border: 1px solid #FF3131; }
  footer form button {
    border: none !important; }
    footer form button i {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 20px 25px 20px 25px !important;
      border: none !important;
      background-color: #FF3131 !important;
      color: #fff;
      font-size: 14px;
      margin-left: -5px; }
  footer p {
    color: #222222; }
    footer p a {
      display: inline-block; }
      footer p a:hover {
        color: #FF3131; }

@media (max-width: 575.98px) {
  footer .logo-paragraph {
    margin-bottom: 40px; }
  footer .primary-radious {
    left: 30%; }
  footer ul {
    padding-bottom: 40px; } }
@media (min-width: 576px) and (max-width: 768px) {
  footer ul {
    padding-bottom: 40px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  footer form button i {
    padding: 20px 15px 20px 15px !important; } }
@media (min-width: 1400px) {
  footer .logo-paragraph {
    margin-right: 70px; } }

/*# sourceMappingURL=style.css.map */
